$primary: #FFA611;
$blue: #059BE5;
$deepOrange: #F6820D;

.btn {
  padding: 10px 24px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  background: $primary;
  cursor: pointer;
  margin: 10px 0;
  &.google {
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin-right: 10px;
      font-size: 1.2em;
      vertical-align: middle;
      background: #fff;
      border-radius: 50%;
    }
  }
  &.danger {
    background: #FF8964;
  }
  &:hover {
    background: $deepOrange;
    transition: 0.2s;
  }
}
