.custom-input-wrapper {
  width: 300px;
  max-width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;

  .custom-input-label {
    margin-bottom: 0.3rem;
    font-size: 1rem;
    color: #222;
    font-weight: 500;
  }

  .custom-input-field {
    position: relative;
    display: flex;
    align-items: center;

    .custom-input {
      width: 100%;
      padding: 0.7rem 2.2rem 0.7rem 0.7rem;
      border-radius: 20px;
      border: 1px solid #ccc;
      font-size: 1rem;
      box-sizing: border-box;

      &:focus {
        outline: none;
      }

      &.input-error {
        border: 2px solid #ef2626;
      }
    }

    .custom-input-icon {
      position: absolute;
      right: 15px;
      top: 55%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #888;
      font-size: 1.2rem;

    }
  }

  .custom-input-error {
    color: #ef2626;
    font-size: 0.93rem;
    margin-top: 0.25rem;
    min-height: 18px;
  }
}